{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href=".">
    {# vite_asset 'refresh.js' #}
    <script type="module">
      import RefreshRuntime from "http:localhost:5173/static/@react-refresh"
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    {% vite_hmr_client %}

    <title>Django Vite Example</title>
  </head>
  <body>
    <div id="warning"></div>
    <div id="root"></div>
    {% vite_asset 'src/main.jsx' %}
    {% vite_asset 'src/warning.jsx' %}
  </body>
</html>
